<div class="divcon" >
    <table 
        class="table table-hover table-bordered table-sm loading table-striped">
        <thead class="table-active">
            <tr border=0></tr>
            <tr>
                    <!-- <th width="5%">{{"#№"| translate}}</th>
                <th width="5%">{{"#Название ОПУ"| translate}}</th>
                <th width="5%" *ngIf="type==1">{{"#Номер радиомодуля(пас)"| translate}}</th>
                <th width="5%" *ngIf="type==1">{{"#Номер радиомодуля"| translate}}</th>
                <th width="5%" *ngIf="type==2">{{"#IMEI"| translate}}</th>
                <ng-container *ngFor="let hour of rowCount">
                    <th>{{hour}}</th>
                </ng-container>
                <th *ngIf="type==1">{{"#Count"| translate}}</th> -->
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let zone of showArray; let i = index;">
                 <td width="5%">{{i+1}}</td>                        
                <td width="5%">{{zone.name}}</td>
                <td width="5%" *ngIf="type==1">{{zone?.radiopas}}</td>
                <td width="5%" *ngIf="type==1">{{zone.radio}}</td>
                <td width="5%" *ngIf="type==2">{{zone.IMEI}}</td>
                <td *ngFor="let h of rowCount">
                    <ng-container *ngFor="let hours of zone.rowElement">
                        <p *ngIf="hours.hour===h">{{hours.value}}</p>
                    </ng-container>
                </td>
                <td *ngIf="type==1">{{zone.count}}</td> -->
        </tbody>
    </table>
</div>