<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-circle profile-avatar"
                            alt="User avatar">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">User info</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{user?.name}}"  disabled="isdisable" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Surname</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{user?.surname}}"  disabled="isdisable" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fathername</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{user?.fathername}}" disabled="isdisable" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <h4 class="panel-title">Education info</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Faculty</label>
                            <div class="col-sm-10">
                                <input type="tel" value="{{user?.faculty}}" class="form-control" disabled="isdisable">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">School</label>
                            <div class="col-sm-10">
                                <input type="tel" value="{{user?.school}}" class="form-control" disabled="isdisable">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Speciality</label>
                            <div class="col-sm-10">
                                <input type="email" value="{{user?.speciality}}" class="form-control" disabled="isdisable">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Group</label>
                            <div class="col-sm-10">
                                <input type="tel" value="{{user?.group}}" class="form-control" disabled="isdisable">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Enrollmentyear</label>
                            <div class="col-sm-10">
                                <input type="tel" value="{{user?.enrollmentyear}}"  disabled="isdisable" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Course</label>
                            <div class="col-sm-10">
                                <input type="tel" value="{{user?.course}}" disabled="isdisable" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Language</label>
                            <div class="col-sm-10">
                                <input type="tel" value="{{user?.lang}}" disabled="isdisable" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lections</label>
                            <div class="col-sm-10">
                                <input type="tel" value="{{user?.letionId}}" disabled="isdisable" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Security</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{user?.username}}" disabled="isdisable" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{user?.email}}" disabled="isdisable" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" value="{{user?.password}}" disabled="isdisable" class="form-control">
                                </div>
                            </div>
                        <div class="form-group">
                            <div *ngIf="!isdisable" class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- -- insert into menu (id, name, url,sysname,userinfo,child) values (2,'Тест', 'bar/test', 'test', 'admin', '{"url":"bar/test/help","name":"help", "sysname":"help"}')
-- update menu set child = '[{"url":"bar/test/help","name":"help", "sysname":"help"}]' where id = 2
-- select * from usertype
--  select * from students
--   insert into menu (id,name,url,sysname,userinfo,child) values (2,'Профиль', 'bar/profile','profile','user',null)
-- update  menu set userinfo= 'student' where id =2
--  delete from menu where id=2
-- select * from usertype
-- select * from curses_number
--   select username, password, students.name as name, students.surname as surname , students.fathername as fathername, 
--  students.enrollment_year as enrollment_year, curses_number.number as course, language.name as language, groups.name as group,
--  email, faculty.name as faculty, school.name as school, specialty.name as speciality 
--   FROM users
--  INNER JOIN students ON users.user_info_id =students.id 
--  INNER JOIN curses_number ON students.curs_id = curses_number.id  
--  INNER JOIN language ON students.lang_id = language.id  
--  INNER JOIN groups ON students.group_id = groups.id 
--  INNER JOIN faculty ON students.faculty_id = faculty.id 
-- INNER JOIN school ON students.school_id = school.id 
-- INNER JOIN specialty ON students.specialty_id = specialty.id 
-- where users.id = 2
-- update users set usertype = 1 where id = 2

-- select * from users inner join usertype on users.usertype = usertype.id -->
