<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-circle profile-avatar"
                            alt="User avatar">
                    </div>
                </div>
                <div *ngIf="isStudent || isMaster" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">User info</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{user?.name}}"[ngModelOptions]="{standalone: true}" [(ngModel)]="name" [disabled]="isdisable" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Surname</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{user?.surname}}"[ngModelOptions]="{standalone: true}" [(ngModel)]="surname" [disabled]="isdisable"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fathername</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{user?.fathername}}"[ngModelOptions]="{standalone: true}" [(ngModel)]="fathername" [disabled]="isdisable"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="isStudent || isMaster" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Education info</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Faculty</label>
                            <div class="col-sm-10">
                                <input type="tel" value="{{user?.faculty}}" class="form-control" *ngIf="!isCreated" [disabled]="isdisable">
                                <select class="form-control" *ngIf="isCreated" [(ngModel)]="faculty" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let o of faculties" value = "{{o.id}}">
                                        {{o.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">School</label>
                            <div class="col-sm-10">
                                <input type="tel" value="{{user?.school}}" class="form-control" *ngIf="!isCreated" [disabled]="isdisable">
                                <select class="form-control" *ngIf="isCreated" [(ngModel)]="school" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let o of schools" value = "{{o.id}}">
                                        {{o.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="isStudent" class="form-group">
                            <label class="col-sm-2 control-label">Speciality</label>
                            <div class="col-sm-10">
                                <input type="email" value="{{user?.speciality}}" *ngIf="!isCreated" class="form-control"
                                    [disabled]="isdisable">
                                    <select class="form-control" *ngIf="isCreated" [(ngModel)]="speciality" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let o of specialities" value = "{{o.id}}">
                                            {{o.name}}
                                        </option>
                                    </select>
                            </div>
                        </div>
                        <div *ngIf="isStudent" class="form-group">
                            <label class="col-sm-2 control-label">Group</label>
                            <div class="col-sm-10">
                                <input type="tel" value="{{user?.group}}" class="form-control" *ngIf="!isCreated" [disabled]="isdisable">
                                <select class="form-control" *ngIf="isCreated" [(ngModel)]="group" [ngModelOptions]="{standalone: true}" >
                                    <option *ngFor="let o of groups" value = "{{o.id}}">
                                        {{o.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="isStudent" class="form-group">
                            <label class="col-sm-2 control-label">Enrollmentyear</label>
                            <div class="col-sm-10">
                                <input type="tel" value="{{user?.enrollmentyear}}" [ngModelOptions]="{standalone: true}"[(ngModel)]="enyear" [disabled]="isdisable"
                                    class="form-control">
                            </div>
                        </div>
                        <div *ngIf="isStudent" class="form-group">
                            <label class="col-sm-2 control-label">Course</label>
                            <div class="col-sm-10">
                                <input type="tel" value="{{user?.course}}" *ngIf="!isCreated" [disabled]="isdisable" class="form-control">
                                <select class="form-control" *ngIf="isCreated" [(ngModel)]="course" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let o of courses" value = "{{o.id}}">
                                        {{o.number}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="isStudent" class="form-group">
                            <label class="col-sm-2 control-label">Language</label>
                            <div class="col-sm-10">
                                <input type="tel" value="{{user?.lang}}" *ngIf="!isCreated" [disabled]="isdisable" class="form-control">
                                <select class="form-control" *ngIf="isCreated" [(ngModel)]="lang" [ngModelOptions]="{standalone: true}" >
                                    <option *ngFor="let o of langs"   value = "{{o.id}}">
                                        {{o.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                       
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Security</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{user?.username}}"[ngModelOptions]="{standalone: true}" [(ngModel)]="username" [disabled]="isdisable"
                                    class="form-control">
                            </div>
                        </div>
                        <div *ngIf="isStudent || isMaster" class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" value="{{user?.email}}" [ngModelOptions]="{standalone: true}"[(ngModel)]="email" [disabled]="isdisable" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" value="{{user?.password}}" [ngModelOptions]="{standalone: true}"[(ngModel)]="password" [disabled]="isdisable"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div *ngIf="!isdisable" class="col-sm-10 col-sm-offset-2">
                                <button type="submit" (click)="newItem()" class="btn btn-primary">Создать</button>
                                <button type="reset" class="btn btn-default">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group"  enctype="multipart/form-data" method="post">
                    <label for="file">Choose File</label>
                    <input type="file"
                           id="file"
                           enctype="multipart/form-data"
                           (change)="handleFileInput($event)">
                </div> -->
            </form>
           
            <form  enctype="multipart/form-data" method="post">
                <input type="file" name="file" id="file" (change)="handleFileInput($event)" />
                
                <!-- <input type="hidden"name="token" value="{{.}}" />
                <input type="submit" value="upload" /> -->
            </form>
        </div>
    </div>
</div>

